<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">


    <title>{% block title %}Welcome!{% endblock %}</title>

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

</head>

<body>

<nav class="navbar navbar-dark bg-dark">
    <div class="navbar" id="navbarNavDropdown">
        <ul class="navbar-pers">
            <li class="nav-item">
                <a class="nav-link" href="http://127.0.0.1:8000/"><img src="{{ asset('assets/img/home.png') }}" alt="Accueil" /></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_facebookIndex') }}"><img src="{{ asset('assets/img/fb.png') }}" alt="Facebook" /></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><img src="{{ asset('assets/img/insta.png') }}" alt="Instagram" /></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><img src="{{ asset('assets/img/whatsapp.png') }}" alt="Whatsapp" /></a>
            </li>
        </ul>
    </div>
</nav>

{% block body %}

{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>